<!DOCTYPE html>
<html>
  <head>

   <link rel='stylesheet' href='/stylesheets/style.css' />
   <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.4.0/css/font-awesome.min.css">
  <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/css/bootstrap.min.css">
   <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.5.1/jquery.min.js"></script>
  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.4.1/js/bootstrap.min.js"></script>
  <script src="https://cdn.ckeditor.com/4.14.1/standard/ckeditor.js"></script>
  </head>
  <body>

  	<nav class="navbar navbar-default">
        <div class="container">
            <div class="navbar-header">
                <a class="navbar-brand" href="#">Login User</a>
            </div>
            <ul class="nav navbar-nav">
                <li class="active"><a href="/dashboard">Home</a></li>
                <li><a href="/create-ticket">Create Profile </a></li>
                <li><a href="/view-ticket">View Profile </a> </li>  
                <li><a href="/logout">Logout</a></li>
            </ul>
            <div class="navbar-header" style="float: right;"> <a class="navbar-brand" href="#">Loggedin As: <%if(loginUser) {%>
	            <%= loginUser %>
	            <%}%></a></div>
            </div>
    </nav>
    
    <div class="container">
      <div class="row">
        <h1> My Profile </h1>
        <br>
        <table class="table table-striped table-primary"> 

          <tbody>
  
            <div> 
                
                <div> 
                    <div> 
                        <img src="data:records/<%=records.img.contentType%>;base64, 
                             <%=records.img.data.toString('base64')%>"> 
                        <div> 
                            <h1>Name: <%= records.Name %></h1> 
                            <h1>Gender: <%= records.Gender %></h1> 
                            <h1>Age: <%= records.Age %></h1> 
                        </div> 
                    </div> 
                </div> 
                
            </div> 
          </tbody>
              
            </div>
          </div>
           
          </tbody>
        </table>
      </div>
    </div>  
  	
  </body>
</html>
